@import "tailwindcss";

@theme {
  --color-neutral-950: #0a0a0a;
  --color-neutral-900: #171717;
  --color-amber-400: #fbbf24;
  --color-amber-300: #fcd34d;
}

body {
  background-color: black;
  color: white;
}
